{% extends "base.html" %}
{% load static %}
{% block title %}Edit Plan{% endblock %}

{% block content %}
<main class="app-main">
    <div class="app-content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">
                    <h3 class="mb-0">Edit Plan</h3>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-end">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Edit Plan</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="app-content">
        <div class="container-fluid">
            <div class="row g-4">
                <div class="col-12">
                    <div class="card card-warning card-outline mb-4">
                        <div class="card-body">
                            <form method="POST" action="">
                                {% csrf_token %}
                                <!-- Plan Name -->
                                <div class="mb-3">
                                    <label for="nameInput" class="form-label">Plan Name</label>
                                    <input type="text" id="nameInput" name="plan_name" class="form-control" value="{{ plan.plan_name }}" required>
                                </div>
                                <!-- Price -->
                                <div class="mb-3">
                                    <label for="priceInput" class="form-label">Price</label>
                                    <input type="text" id="priceInput" name="price" class="form-control" value="{{ plan.price }}" required>
                                </div>
                                <!-- Batch -->
                                <div class="mb-3">
                                    <label for="batchInput" class="form-label">Batch</label>
                                    <select id="batchInput" name="batch" class="form-control">
                                        <option value="morning" {% if obj.batch == 'morning' %}selected{% endif %}>Morning Batch</option>
                                        <option value="afternoon" {% if obj.batch == 'afternoon' %}selected{% endif %}>Afternoon Batch</option>
                                        <option value="evening" {% if obj.batch == 'evening' %}selected{% endif %}>Evening Batch</option>
                                    </select>
                                </div>
                                <!-- Duration -->
                                <div class="mb-3">
                                    <label for="durationInput" class="form-label">Duration</label>
                                    <input type="text" id="durationInput" name="duration" class="form-control" value="{{ plan.duration }}" required>
                                </div>
                                <!-- Submit Button -->
                                 <button type="submit" class="btn btn-sm btn-link" style="padding: 5px 10px; font-size: 15px; float: right;">
                                  UPDATE
                              </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock content %}
